.curated-collections {
    margin: 0 164px;
    padding: 20px 0;
}
.header-section__header {
    margin-bottom: 28px;
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}
.collection-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 223px;
    height: 263px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    cursor: pointer;

    &:hover {
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
        transform: translateY(-4px);
        z-index: 1;
    }
}
.img__bg {
    width: 183px;
    height: 183px;
}
.card__price {
    color: #ee4d2d;
}
.txt {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.26);
    font-weight: 400;
}
.card__collection-title {
    padding: 0 10px;
    margin: 10px 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.6rem;
    white-space: nowrap;
}
.image-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nameProduct {
    margin: 0 164px;
    height: 50px;
    font-size: 3rem;
    font-weight: 500;
    color: darkorange;
}

// products
.content {
    display: flex;
    justify-content: space-between;
    margin: 0 164px;
    padding: 20px 0;
}
.category {
    height: 100%;
}
.card{
    width: 84%;
}
.card-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-item {
    margin-bottom: 15px;
}
.card-item {
    width: 193px;
    min-height: 189px;
    height: 100%;
    background: #fff;

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
}
.img-background {
    width: 100%;
}
.imageBg {
    width: 100%;
}
.segment--icon {
    display: block;
    height: 14px;
    width: 100%;
    font-size: 1.2rem;
}
.imageLaz {
    display: inline-block;
    min-width: 12px;
    height: 12px;
}
.card-title {
    display: -webkit-box;
    position: relative;
    line-height: 18px;
    height: 36px;
    font-size: 1.4rem;
    color: #212121;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mod-price {
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.mod-first-line {
    line-height: 22px;
    margin-right: 8px;
    height: 22px;
    font-size: 1.8rem;
    color: #f57224;
}
.mod-price-second {
    margin-top: 4px;
    margin-right: 4px;
    line-height: 14px;
    height: 14px;
    font-size: 1.2rem;
    color: #9e9e9e;
}
.second-price {
    text-decoration: line-through;
}
.card-footer {
    margin-top: 8px;
    height: 14px;
}
.card-ratings {
    font-size: 1.2rem;
    color: #9e9e9e;
}
.item-desc {
    padding: 4px 8px 12px;
}
.location {
    margin-top: 10px;
    line-height: 1.125rem;
    min-height: 1em;
    text-align: left;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.65);
}
