.content {
    margin: 0 164px;
    margin-bottom: 20px;
}
.detail-products {
    display: flex;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.products,
.img-product {
    padding: 15px;
}
.img {
    width: 450px;
    height: 450px;
}
.list {
    display: flex;
    width: 450px;
    scrollbar-width: none;
    overflow-x: auto;
}
.list::-webkit-scrollbar {
    display: none;
}
.img-item {
    margin-right: 6px;
    width: 82px;
    height: 82px;
    cursor: pointer;

    &:hover {
        border: 2px solid #ee4d2d;
    }
}
.active-img {
    border: 2px solid #ee4d2d;
}
.utilities {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    width: 450px;
}
.title {
    font-size: 1.6rem;
    color: #222222a3;
}
.share-product {
    display: flex;
    align-items: center;
}
.icon-address {
    display: flex;
    align-items: center;
}
.img-address {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.pull-left,
.pull-bottom {
    margin: 0 40px;
    width: 2px;
    height: 30px;
    border: 0;
    background-color: #9e9e9e2e;
}
.pull-bottom {
    margin: 35px 0 0;
    width: 100%;
    height: 1px;
}
.like-product {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.like-count {
    margin-left: 10px;
}

// products
.products {
    width: 665px;
}
.name-product {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.item-center {
    margin-right: 10px;
    padding: 3px 4px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #ee4d2d;
    border-radius: 2px;
}
.item-name {
    color: #000000cc;
    font-size: 2rem;
}
.rate {
    margin-top: 10px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating,
.evaluate {
    display: flex;
    align-items: center;
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    cursor: pointer;
}
.sold {
    display: flex;
    align-items: center;
    width: 40%;
}
.item-rate {
    margin-right: 5px;
    color: #ee4d2d;
    border: 2px solid transparent;
    border-bottom-color: #ee4d2d;
}
.quantity-eva {
    margin-right: 5px;
    border: 2px solid transparent;
    border-bottom-color: #000;
}
.quantity-sold {
    margin-right: 5px;
}
.txt {
    color: #767676;
}
.icon {
    color: #ee4d2d;
}
.item-price {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 15px 20px;
    background: #fafafa;
}
.price-after {
    display: flex;
    align-items: center;
}
.price-befor {
    margin-right: 10px;
    text-decoration: line-through;
    font-size: 1.6rem;
    color: #929292;
}
.price {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: #d0011b;
}
.discount {
    margin-left: 15px;
    padding: 2px 4px;
    height: 20px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #d0011b;
    border-radius: 2px;
}
.dc-shopit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.mini-voucher {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 3px 7px;
    font-size: 1.4rem;
    background: rgba(208, 1, 27, 0.08);
    color: #ee4d2d;
    cursor: default;

    &::before {
        content: '';
        position: absolute;
        left: -3px;
        width: 6px;
        height: calc(100% - 5px);
        background-image: radial-gradient(#fff 2px, transparent 0);
        background-size: 6px 6px;
    }

    &::after {
        content: '';
        position: absolute;
        right: -3px;
        width: 6px;
        height: calc(100% - 5px);
        background-image: radial-gradient(#fff 2px, transparent 0);
        background-size: 6px 6px;
    }
}
.transport-to,
.discount-shop {
    display: flex;
    margin-top: 16px;
}
.item-to {
    flex: 1;
}
.txt-trans {
    margin-top: 5px;
    width: 110px;
    color: #757575;
    text-transform: capitalize;
    flex-shrink: 0;
}
.txt-transto {
    width: 120px;
    font-size: 1.4rem;
    color: #757575;
    text-transform: capitalize;
    flex-shrink: 0;
}
.price-trans {
    cursor: pointer;
}
.icon-down {
    margin-left: 5px;
    cursor: pointer;
}
.address-to {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 525px;
}
.img-to {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.classify {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.btn-classify {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.product-variation {
    position: relative;
    margin: 0 8px 8px 0 !important;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 0;

    &:hover {
        color: #ee4d2d;
    }
}
.txt-classify {
    margin-top: 0;
}
.up-down,
.select-quanti,
.number-product {
    display: flex;
    align-items: center;
}
.up,
.down,
.quanti-updown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;

    &:hover {
        background: transparent;
    }
}
.up {
    margin-right: 20px;
}
.quanti-updown {
    width: 50px;
    text-align: center;
    font-size: 1.7rem;
    border-left: unset;
    border-right: unset;
    cursor: auto;
}
.buy-product {
    display: flex;
    margin-top: 30px;
}
.buy {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: #ee4d2d;
    background: rgba(255, 87, 34, 0.1);
    border: 1px solid #ee4d2d;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
    cursor: pointer;

    &:hover {
        background: rgba(208, 1, 27, 0.05);
    }
}
.cart-img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.now {
    margin-left: 20px;
    width: 180px;
    color: #fff;
    background: #ee4d2d;

    &:hover {
        background: #ee4d2d;
        opacity: 0.8;
    }
}
.banner,
.days7 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: help;
}
.days-img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.detail-shop {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.img-shop {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #929292;
}
.fc,
.chat,
.view {
    display: flex;
    align-items: center;
}
.info-shop {
    padding-right: 25px;
    border-right: 1px solid #74737333;
}
.online {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.54);
}
.chat {
    padding: 0 15px;
    width: 116px;
    height: 35px;
    color: #d0011b;
    border: 1px solid #d0011b;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
    background: rgba(208, 1, 27, 0.08);
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}
.view {
    margin-left: 10px;
    padding: 0 15px;
    width: 116px;
    height: 35px;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
    cursor: pointer;

    &:hover {
        background: rgba(69, 67, 68, 0.08);
    }
}
.quality {
    margin-left: 20px;
}
.quality,
.quality-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.quality-item {
    justify-content: space-between;
    margin-bottom: 8px;
    margin-right: 30px;
    width: 230px;
}
.txt-quality {
    min-width: 110px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4);
}
.quantity-item {
    font-size: 1.4rem;
    color: #d0011b;
}
.txt-shop {
    margin-left: 6px;
    font-size: 1.4rem;
}
.text-tl {
    padding: 10px 20px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #c4c3c373 !important;
    border-radius: 5px !important;
}
.giaohang {
    opacity: 5;
    width: 500px;
    background-color: #fff;
    border: 1px solid #c4c3c35a !important;
}
.speed-trans {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
}
.time-trans {
    margin-top: 5px;
    font-size: 1.2rem;
    color: #929292;
}

// active button
.active-btn{
    color: #ee4d2d;
    border-color: #ee4d2d;
}
.product-variation__tick {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 1.4rem solid red;
    border-left: 1.4rem solid transparent;
    color: #fff;
}